<link rel="stylesheet" href="<%= assetPath('css/_chat.css') %>" >

<% if(locals.user){ %>
    <aside id="chatbox" >   <!-- id="user-chat-box" -->
        <div id="close-chats">X</div>
        <ul class="messageBox" id="chat-messages-list" >
            <!-- <li class="other-message">
                <span>Other Message</span>
                <sub>abc@gmail.com</sub>
            </li>

            <li class="self-message">
                <span>Self Message</span>
                <sub>xyz@gmail.com</sub>
            </li> -->
        </ul>
        <div id="chat-message-input-container">
            <input type="text" placeholder="Type message here..." id="chat-message-input" />
            <button id="send-message" >Send</button>
        </div>
    </aside>
<% } %>

<script>
    const closePopupBtn = document.getElementById('close-chats');
    const popup = document.getElementById('chatbox');

    closePopupBtn.addEventListener('click', () => {
      popup.style.display = 'none';
    });

    // open a private chat when a friend's "Chat" link is clicked
    document.querySelectorAll('.chat-with-friend').forEach(function(el){
        el.addEventListener('click', function(e){
            e.preventDefault();
            const friendId = this.dataset.friendId;
            const friendName = this.dataset.friendName;

            popup.style.display = 'block';
            window.chatEngine.openChatWith(friendId, friendName);
        });
    });
</script>
