<link rel="stylesheet" href="/css/_comment.css">

<li class="each-comment">
    <p class="each-comment-text">
        <% if (locals.user && locals.user.id == comment.user.id){ %>
            <small class="small-delete">
                <a href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small class="small-text">
            <%= comment.user.name %>
        </small>
    </p> 
</li>