<footer class="flex">
    <!-- Page Footer -->

    <p>&copy; Coding Ninjas, All Right Reserved</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/profile">Profile</a></li>
    </ul>
</footer>