<link rel="stylesheet" href="/css/user_profile.css">

<!-- Only add variable parts -->
<h1>Codeial / Profile Page</h1>

<p><%= user.name %></p>
<p><%= user.email %></p>

<!-- we an also use script tag here -->