<link rel="stylesheet" href="/css/user_profile.css">

<!-- Only add variable parts -->
<h1>Codeial / Profile Page</h1>

<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<!-- <button type="submit" formaction="/users/sign-out" formmethod="get">Sign Out</button>  -->

<form action="/users/sign-out" method="post">
    <button type="submit">sign-out</button>
</form>

<!-- we an also use script tag here -->